<!DOCTYPE html>

<html lang='en'>

    <head>
        <title> <%= page %></title>
        <meta charset='utf-8'>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>

    <body>
      <div class="header">
        <p><%= title %></p>
      </div>
      
      <div class="app-body">
        <div class="vertical-nav-bar">
            <ul class="nav-list">
                <li><a href="/catalog">Home</a></li>
                <li><a href="/catalog/books">View All Books</a></li>
                <li><a href="/catalog/authors"> View All Authors</a></li>
                <li><a href="/catalog/genres"> View All Genres</a></li>
                <li><a href="/catalog/bookinstances"> View All Book-Instances</a></li>
                <br><br>
                <li><a href="/catalog/author/create">Create New Author</a></li>
                <li><a href="/catalog/book/create">Create New Book</a></li>
                <li><a href="/catalog/bookinstance/create">Create New Book Instance</a></li>
                <li><a href="/catalog/genre/create">Create New Genre</a></li>
            </ul>
        </div>
        <div class="display-area">
         
          <div class="home-list">
            <h2><%= author.name%></h2>
            <p>(<%= author.lifespan %>)</p>
            <br>
            <h3>Books:</h3>
            <ul>
              <% for(let i=0; i<author_books.length;i++) {%>
                
                <li><a href=<%= author_books[i].url%>> <%= author_books[i].title%></a><br>
                    <%= author_books[i].summary%>
                
                </li>
                <br>

              <% } %>
            </ul>

            <a href= <%= author.url+'/update' %>><button>Update</button></a>
            
            <a href= <%= author.url+'/delete' %>><button>Delete</button></a>
          </div>  
          
        </div>
      </div>
    </body>
</html>
