<!DOCTYPE html>

<html lang='en'>

    <head>
        <title> <%= page %></title>
        <meta charset='utf-8'>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>

    <body>
      <div class="header">
        <p><%= title %></p>
      </div>
      
      <div class="app-body">
        <div class="vertical-nav-bar">
            <ul class="nav-list">
                <li><a href="/catalog">Home</a></li>
                <li><a href="/catalog/books">View All Books</a></li>
                <li><a href="/catalog/authors"> View All Authors</a></li>
                <li><a href="/catalog/genres"> View All Genres</a></li>
                <li><a href="/catalog/bookinstances"> View All Book-Instances</a></li>
                <br><br>
                <li><a href="/catalog/author/create">Create New Author</a></li>
                <li><a href="/catalog/book/create">Create New Book</a></li>
                <li><a href="/catalog/bookinstance/create">Create New Book Instance</a></li>
                <li><a href="/catalog/genre/create">Create New Genre</a></li>
            </ul>
        </div>
        <div class="display-area">
         
          <div class="home-list">
            <h2>ID: <%= bookinstance._id %></h2>
            <h3>Book: <%= bookinstance.book.title %></h3>
            <h4>Imprint: <%=bookinstance.imprint%></h4>
            <h4 class= <%= bookinstance.status%>>Status: <%=bookinstance.status%></h4>

            <br>
            

                <p class="err-message">Do you really want delete this Book Copy?</p>

                <form method="POST" action="">
                    <input type="hidden" name="bookinstance_id" required=true value=<%= bookinstance._id%>>
                    <input type="submit" value="Delete">
                </form>
                
            
          </div>  
          
        </div>
      </div>
    </body>
</html>
