<!DOCTYPE html>

<html lang='en'>

    <head>
        <title> <%= page %></title>
        <meta charset='utf-8'>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>

    <body>
      <div class="header">
        <p><%= title %></p>
      </div>
      
      <div class="app-body">
        <div class="vertical-nav-bar">
            <ul class="nav-list">
                <li><a href="/catalog">Home</a></li>
                <li><a href="/catalog/books">View All Books</a></li>
                <li><a href="/catalog/authors"> View All Authors</a></li>
                <li><a href="/catalog/genres"> View All Genres</a></li>
                <li><a href="/catalog/bookinstances"> View All Book-Instances</a></li>
                <br><br>
                <li><a href="/catalog/author/create">Create New Author</a></li>
                <li><a href="/catalog/book/create">Create New Book</a></li>
                <li><a href="/catalog/bookinstance/create">Create New Book Instance</a></li>
                <li><a href="/catalog/genre/create">Create New Genre</a></li>
            </ul>
        </div>
        <div class="display-area">
         
          <div class="home-list">
            <p><u>Books in the Library:</u></p>
            <ul class="Book-Instances">
              <% for(let i=0; i<bookinstance_list.length;i++) {%>
                
                <li><a href= <%= bookinstance_list[i].book.url %> > <%= bookinstance_list[i].book.title%></a> 
                    <%=bookinstance_list[i].imprint %>- 

                        <% if(bookinstance_list[i].status==='Available') { %>
                            <span class="Success"> Available</span>
                        <% } %>
                        <% if(bookinstance_list[i].status==='Maintenance') { %>
                            <span class="Maintenence"> Book Being Serviced</span>
                        <% } %>
                        <% if(bookinstance_list[i].status==='Reserved') { %>
                            <span class="Reserved"> Book on Reserve</span>
                        <% } %>
                        <% if(bookinstance_list[i].status==='Loaned') { %>
                            <span class="Loaned"> Book out<br>Due back: <%= bookinstance_list[i].formatted_due_date %></span>
                        <% } %>
                
                </li>
                <br>

              <% } %>
            </ul>
          </div>  
          
        </div>
      </div>
    </body>
</html>
