<!DOCTYPE html>

<html lang='en'>

    <head>
        <title> <%= page %></title>
        <meta charset='utf-8'>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>

    <body>
      <div class="header">
        <p><%= title %></p>
      </div>
      
      <div class="app-body">
        <div class="vertical-nav-bar">
            <ul class="nav-list">
                <li><a href="/catalog">Home</a></li>
                <li><a href="/catalog/books">View All Books</a></li>
                <li><a href="/catalog/authors"> View All Authors</a></li>
                <li><a href="/catalog/genres"> View All Genres</a></li>
                <li><a href="/catalog/bookinstances"> View All Book-Instances</a></li>
                <br><br>
                <li><a href="/catalog/author/create">Create New Author</a></li>
                <li><a href="/catalog/book/create">Create New Book</a></li>
                <li><a href="/catalog/bookinstance/create">Create New Book Instance</a></li>
                <li><a href="/catalog/genre/create">Create New Genre</a></li>
            </ul>
        </div>
        <div class="display-area">
         
          <div class="home-list">
            <h2><%= genre.name %></h2>
            <p>Books: </p>
            <ul class="Genre-Detail-List">
              <% for(let i=0; i<genre_books.length;i++) {%>
                
                <li><a href= <%= genre_books[i].url %> > <%= genre_books[i].title%></a><br> 
                    (<%=genre_books[i].summary %>) 

                </li>
                <br>

              <% } %>
            </ul>
          </div>
          
          <div>
            
            <button><a href= <%= genre.url+"/update" %>>Update</a></button>
            <button><a href= <%= genre.url+"/delete" %>>Delete</a></button>
            
        </div>
          
        </div>
      </div>
    </body>
</html>
